body {
    margin: 0;
}

main {
    padding: 16px;
}

footer {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 0px;
    padding-left: 20px;
    background-color: greenyellow;
    color: black;
}

nav {
    border-bottom: 1px solid #14140f;
    padding: 16px;
    background-color: orangered;

}

.main:link, .main:visited {
    color:white;
}


a:link, a:visited {
    color: green;
}

h1 {
    color: darkgreen;
}

.four-equal-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

tr:nth-child(even) {
    background-color: lightgray;

}
